<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item>Inicio</li>
      <li nz-menu-item>contacto</li>
      <li nz-menu-item>Nosotros</li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div nz-col nzSpan="24" nz-justi>
        <div mt3 class="wraper-content" nz-row nzJustify="space-around">
          <div class="principal-content-wraper" nz-col nzSpan="11">
            <div proHA nz-row nzJustify="center" nzAlign="middle">
              <div nz-row nzJustify="center" nzAlign="middle">
                <img src="/assets/logo3.png" alt="logo prolg">
              </div>
            </div>
          </div>
          <div class="principal-content-wraper" nz-col nzSpan="11">
            <div proHA nz-row nzJustify="center" nzAlign="middle">
              <div nz-row nzJustify="center" nzAlign="middle">
                <div class="principal-content">Desde sus comienzos se especializó en la innovación, diseño y desarrollo
                  de soluciones a medida,
                  logrando capitalizar experiencia en la integración e implementación de sistemas para grandes empresas
                  a nivel mundial, esto nos permite garantizar escalabilidad en la ejecución de proyectos de gran
                  envergadura. </div>
                <button mt3 nz-button nzType="default" nzSize="large">
                  <i nz-icon nzType="download"></i>
                  Agendar Reunión
                </button>
              </div>
            </div>
          </div>
        </div>
        <div mt5 class="wraper-content" nz-row nzJustify="center">
          <div nz-col nzFlex="80%">
            <div nz-row>
              <div class="title">
                ¿Qué nos diferencia del resto?
              </div>
            </div>
            <div mt1 nz-row nz-row nzJustify="space-between" nzAlign="top">
              <div nz-col nzFlex="48%">
                <div nz-row nzAlign="middle" nzJustify="center">
                  <div class="img-q">
                    image
                  </div>
                </div>
                <div nz-row>
                  <div class="subtitle">
                    Nuestro Valor
                  </div>
                </div>
                <div nz-row>
                  <div class="tDetail">
                    El principal valor diferencial de la oferta de Witbor es su alto desempeño para el diseño, el
                    desarrollo y la efectiva implementación e integración de soluciones informáticas. Este conocimiento
                    nos permitió tener un equipo de soporte robusto y con experiencia.
                  </div>
                </div>
                <div nz-row>
                  <button mt3 nz-button nzType="default" nzSize="large">
                    <i nz-icon nzType="download"></i>
                    Leer más
                  </button>
                </div>
              </div>
              <div nz-col nzFlex="48%">
                <div nz-row nzJustify="center">
                  <div class="img-q">
                    image
                  </div>
                </div>
                <div nz-row>
                  <div class="subtitle">
                    Nuestro Valor
                  </div>
                </div>
                <div nz-row>
                  <div class="tDetail">
                    Hacia el futuro se observa que, en todos los mercados verticales donde opera la compañía, existe una
                    fuerte demanda potencial de las tecnologías que conforman su núcleo de conocimientos y capacidad de
                    innovación. Witbor tiene una fuerte posición en clientes de primer nivel, continúa consolidando su
                    presencia en el mercado y explorando nuevos desafíos.
                  </div>
                </div>
                <div nz-row>
                  <button mt3 nz-button nzType="default" nzSize="large">
                    <i nz-icon nzType="download"></i>
                    Leer más
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div mt5 nz-row nzJustify="center">
          <div nz-col nzFlex="80%">
            <div nz-row>
              <div nz-col nzFlex="48%">
                <div nz-row>
                  <br>
                </div>
                <div nz-row>
                  <div class="title">
                    Nuestro servicios
                  </div>
                </div>
                <div nz-row>
                  <div class="tDetail">
                    Con el fin de constituir una alternativa calificada para nuestros clientes y partners, contamos con
                    un
                    probado y flexible espectro de contratación de servicios. Nuestros equipos pueden brindar servicios
                    de
                    forma remota o presencial, siempre en base a lo acordado entre las partes.
                  </div>
                </div>
              </div>
              <div nz-col nzFlex="48%">
                <div nz-row>
                  <div class="img-services">
                    image
                  </div>
                </div>
                <div nz-row>
                  <button mt3 nz-button nzType="default" nzSize="large">
                    <i nz-icon nzType="download"></i>
                    Sobre nuestros servicios
                  </button>
                </div>
                <div nz-row>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div mt5 class="wraper-content" nz-row nzJustify="center">
          <div nz-col nzFlex="80%">
            <div nz-row nzJustify="center">
              <nz-collapse nzGhost nzExpandIconPosition="right">
                <ng-template class="collapseTitle" #headerPanelOurServices>
                  <div class="collapseTitle">Nuestros servicios</div>
                </ng-template>
                <nz-collapse-panel [nzHeader]="headerPanelOurServices">
                  <ul>
                    <li>Consultoría sobre tecnologías Oracle (Base de Datos, Siebel, E Business Suite, People Soft)
                    </li>
                    <li>Consultoría sobre la plataforma tecnológica Zendesk.</li>
                    <li>Soporte Técnico / Funcional</li>
                    <li>Servicios de Software Factory (Java, .Net, PHP)</li>
                    <li>Mantenimiento evolutivo y correctivo de Aplicaciones informáticas (multiplataformas)</li>
                    <li>Investigación e innovación en diversas tecnologías (Mobile, TV Digital, Cloud, Realidad
                      Virtual, etc)</li>
                  </ul>
                </nz-collapse-panel>
              </nz-collapse>
              <nz-divider class="d50"></nz-divider>
            </div>
            <div nz-row nzJustify="center">
              <nz-collapse nzGhost nzExpandIconPosition="right">
                <ng-template class="collapseTitle" #headerPanelConsulting>
                  <div class="collapseTitle">Servicios de Consultoría</div>
                </ng-template>
                <nz-collapse-panel [nzHeader]="headerPanelConsulting">
                  <ul>
                    <li>Consultoría sobre tecnologías Oracle (Base de Datos, Siebel, E Business Suite, People Soft)
                    </li>
                    <li>Consultoría sobre la plataforma tecnológica Zendesk.</li>
                    <li>Soporte Técnico / Funcional</li>
                    <li>Servicios de Software Factory (Java, .Net, PHP)</li>
                    <li>Mantenimiento evolutivo y correctivo de Aplicaciones informáticas (multiplataformas)</li>
                    <li>Investigación e innovación en diversas tecnologías (Mobile, TV Digital, Cloud, Realidad
                      Virtual, etc)</li>
                  </ul>
                </nz-collapse-panel>
              </nz-collapse>
              <nz-divider class="d50"></nz-divider>
            </div>
            <div nz-row nzJustify="center">
              <nz-collapse nzGhost nzExpandIconPosition="right">
                <ng-template class="collapseTitle" #headerPanelFactory>
                  <div class="collapseTitle">Software Factory</div>
                </ng-template>
                <nz-collapse-panel [nzHeader]="headerPanelFactory">
                  <ul>
                    <li>Consultoría sobre tecnologías Oracle (Base de Datos, Siebel, E Business Suite, People Soft)
                    </li>
                    <li>Consultoría sobre la plataforma tecnológica Zendesk.</li>
                    <li>Soporte Técnico / Funcional</li>
                    <li>Servicios de Software Factory (Java, .Net, PHP)</li>
                    <li>Mantenimiento evolutivo y correctivo de Aplicaciones informáticas (multiplataformas)</li>
                    <li>Investigación e innovación en diversas tecnologías (Mobile, TV Digital, Cloud, Realidad
                      Virtual, etc)</li>
                  </ul>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </div>
        </div>
        <div mt5 nz-row nzJustify="center">
          <div nz-col nzFlex="80%">
            <div nz-row nzJustify="center">
              <h1 nz-typography>PROLOGIC</h1>
            </div>
            <div nz-row nzJustify="center">
              Conversa con nosotros
            </div>
            <div nz-row mt2 nzJustify="center" nzJustify="space-between">
              <div nz-col nzSpan="7">
                Nombre completo </div>
              <div nz-col nzSpan="8">
                Emil
              </div>
              <div nz-col nzSpan="7">
                Número de teléfono
              </div>
            </div>
            <div nz-row nzJustify="center" nzJustify="space-between">
              <div nz-col nzSpan="7">
                <input nz-input nzSize="large" />
              </div>
              <div nz-col nzSpan="8">
                <input nz-input nzSize="large" />
              </div>
              <div nz-col nzSpan="7">
                <input nz-input nzSize="large" />
              </div>
            </div>
            <div nz-row mt2>
              Déjanos un mensaje
            </div>
            <div nz-row>
              <textarea nz-input placeholder=" " [nzAutosize]="{ minRows: 16, maxRows: 34 }"></textarea>
            </div>
            <div nz-row mt1 nzJustify="end">
              <button nz-button nzType="default" nzSize="large" nzShape="round">
                <i nz-icon nzType="send" nzTheme="outline"></i>
                Enviar
              </button>
            </div>
          </div>
        </div>




      </div>





    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
